service neuralnetworks-hal-1-0-cpu /vendor/bin/hw/android.hardware.neuralnetworks@1.0-generic-service -D CPU
    class hal
    user root
    group root

service neuralnetworks-hal-1-0-vpu /vendor/bin/hw/android.hardware.neuralnetworks@1.0-generic-service -D VPU
    class hal
    user root
    group root
